{
  "extends": "react-app",
  "root": true,
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "eqeqeq": "off",
        "no-implied-eval": "off",
        "jsx-a11y/anchor-is-valid": [
          "error",
          {
            "components": ["Link"],
            "specialLink": ["hrefLeft", "hrefRight"],
            "aspects": ["noHref", "invalidHref", "preferButton"]
          }
        ]
    }
}
