.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader-svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    fill: none;
    stroke-width: 0.313rem;
    stroke-linecap: round;
    stroke: var(--primary);
}

.loader-svg.loading {
    stroke-width: 0.5rem;
    stroke: var(--secondary);
}